<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bm_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{53,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,80}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>bm_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{53,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,80}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>bm_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{53,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,80}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>bm_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{53,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,80}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bm_dead.png</string>
            <key>size</key>
            <string>{53,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:007fb8d966a8b2edd829cd6ef1a4c6eb$</string>
            <key>textureFileName</key>
            <string>bm_dead.png</string>
        </dict>
    </dict>
</plist>
