<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boom_control_but_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,239},{110,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,109}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>boom_control_but_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,130},{110,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,109}}</string>
                <key>sourceSize</key>
                <string>{110,109}</string>
            </dict>
            <key>hp_tex.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,130},{35,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>sourceSize</key>
                <string>{35,32}</string>
            </dict>
            <key>information_banner.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,564},{500,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,100}}</string>
                <key>sourceSize</key>
                <string>{500,100}</string>
            </dict>
            <key>joystick_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,0},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>joystick_rocker.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,406},{65,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,62}}</string>
                <key>sourceSize</key>
                <string>{65,62}</string>
            </dict>
            <key>lianjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,348},{54,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,30}}</string>
                <key>sourceSize</key>
                <string>{54,30}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,464},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>pause_bj.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{365,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,373}}</string>
                <key>sourceSize</key>
                <string>{365,373}</string>
            </dict>
            <key>props_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,449},{354,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,76}}</string>
                <key>sourceSize</key>
                <string>{354,76}</string>
            </dict>
            <key>props_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,406},{93,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,58}}</string>
                <key>sourceSize</key>
                <string>{93,58}</string>
            </dict>
            <key>resume_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,521},{114,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{114,39}}</string>
                <key>sourceSize</key>
                <string>{114,41}</string>
            </dict>
            <key>return_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,525},{114,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,39}}</string>
                <key>sourceSize</key>
                <string>{114,39}</string>
            </dict>
            <key>skill_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,373},{354,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,76}}</string>
                <key>sourceSize</key>
                <string>{354,76}</string>
            </dict>
            <key>skill_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,348},{93,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,58}}</string>
                <key>sourceSize</key>
                <string>{93,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game_tex.png</string>
            <key>size</key>
            <string>{512,664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ae703f82b0947a7e8cae9316118021b$</string>
            <key>textureFileName</key>
            <string>game_tex.png</string>
        </dict>
    </dict>
</plist>
