<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hb_bot_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,159},{54,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{54,80}</string>
            </dict>
            <key>hb_bot_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,239},{56,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,80}}</string>
                <key>sourceSize</key>
                <string>{56,80}</string>
            </dict>
            <key>hb_bot_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,239},{56,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,80}}</string>
                <key>sourceSize</key>
                <string>{56,80}</string>
            </dict>
            <key>hb_bot_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,239},{55,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,80}}</string>
                <key>sourceSize</key>
                <string>{55,80}</string>
            </dict>
            <key>hb_bot_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,239},{55,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,80}}</string>
                <key>sourceSize</key>
                <string>{55,80}</string>
            </dict>
            <key>hb_bot_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,239},{55,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,80}}</string>
                <key>sourceSize</key>
                <string>{55,80}</string>
            </dict>
            <key>hb_bot_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,239},{56,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,80}}</string>
                <key>sourceSize</key>
                <string>{56,80}</string>
            </dict>
            <key>hb_bot_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,79},{54,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{54,80}</string>
            </dict>
            <key>hb_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,0},{63,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,79}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>hb_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{63,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,79}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>hb_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,0},{64,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,79}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>hb_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,0},{63,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,79}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>hb_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,0},{63,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,79}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>hb_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{65,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,79}}</string>
                <key>sourceSize</key>
                <string>{65,79}</string>
            </dict>
            <key>hb_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,159},{64,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>hb_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,79}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>hb_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,79},{63,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,80}}</string>
                <key>sourceSize</key>
                <string>{63,80}</string>
            </dict>
            <key>hb_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,79},{64,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>hb_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,79},{64,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>hb_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,79},{64,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>hb_right_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,79},{64,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>hb_right_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,80},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>hb_right_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,79},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>hb_right_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,0},{64,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>hb_top_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,239},{54,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{54,80}</string>
            </dict>
            <key>hb_top_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,159},{53,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,80}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>hb_top_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,159},{53,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,80}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>hb_top_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,159},{53,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,80}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>hb_top_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,160},{54,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{54,80}</string>
            </dict>
            <key>hb_top_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,159},{53,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,80}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
            <key>hb_top_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,159},{54,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,80}}</string>
                <key>sourceSize</key>
                <string>{54,80}</string>
            </dict>
            <key>hb_top_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,159},{53,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,80}}</string>
                <key>sourceSize</key>
                <string>{53,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hb.png</string>
            <key>size</key>
            <string>{509,319}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acb1477c06df187f47e65d0f87092744$</string>
            <key>textureFileName</key>
            <string>hb.png</string>
        </dict>
    </dict>
</plist>
