<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,36},{61,12}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{61,12}}</string>
                <key>sourceSize</key>
                <string>{79,18}</string>
            </dict>
            <key>loading2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,24},{65,12}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{65,12}}</string>
                <key>sourceSize</key>
                <string>{79,18}</string>
            </dict>
            <key>loading3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,12},{69,12}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{69,12}}</string>
                <key>sourceSize</key>
                <string>{79,18}</string>
            </dict>
            <key>loading4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1933,0},{73,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{73,12}}</string>
                <key>sourceSize</key>
                <string>{79,18}</string>
            </dict>
            <key>tip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,0},{456,61}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{456,61}}</string>
                <key>sourceSize</key>
                <string>{618,61}</string>
            </dict>
            <key>tip10.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,140},{378,61}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,0},{378,61}}</string>
                <key>sourceSize</key>
                <string>{618,61}</string>
            </dict>
            <key>tip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,79},{398,61}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,0},{398,61}}</string>
                <key>sourceSize</key>
                <string>{618,61}</string>
            </dict>
            <key>tip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,122},{334,61}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,0},{334,61}}</string>
                <key>sourceSize</key>
                <string>{618,61}</string>
            </dict>
            <key>tip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,122},{384,61}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,0},{384,61}}</string>
                <key>sourceSize</key>
                <string>{618,61}</string>
            </dict>
            <key>tip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,118},{412,61}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{412,61}}</string>
                <key>sourceSize</key>
                <string>{618,61}</string>
            </dict>
            <key>tip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,61},{442,61}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,0},{442,61}}</string>
                <key>sourceSize</key>
                <string>{618,61}</string>
            </dict>
            <key>tip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,122},{338,61}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,0},{338,61}}</string>
                <key>sourceSize</key>
                <string>{618,61}</string>
            </dict>
            <key>tip8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,61},{428,61}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,0},{428,61}}</string>
                <key>sourceSize</key>
                <string>{618,61}</string>
            </dict>
            <key>tip9.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,0},{618,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,61}}</string>
                <key>sourceSize</key>
                <string>{618,61}</string>
            </dict>
            <key>tip_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1790,0},{143,118}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{143,118}}</string>
                <key>sourceSize</key>
                <string>{145,120}</string>
            </dict>
            <key>tip_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{716,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{716,79}}</string>
                <key>sourceSize</key>
                <string>{718,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading_tex.png</string>
            <key>size</key>
            <string>{2006,201}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bac9044b0d9b15c5d94053f3e2f2e5f$</string>
            <key>textureFileName</key>
            <string>loading_tex.png</string>
        </dict>
    </dict>
</plist>
