<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lv2_boss_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,0},{102,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,128}}</string>
                <key>sourceSize</key>
                <string>{102,128}</string>
            </dict>
            <key>lv2_boss_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,122},{106,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,132}}</string>
                <key>sourceSize</key>
                <string>{106,132}</string>
            </dict>
            <key>lv2_boss_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,261},{107,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,135}}</string>
                <key>sourceSize</key>
                <string>{107,135}</string>
            </dict>
            <key>lv2_boss_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,386},{108,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,137}}</string>
                <key>sourceSize</key>
                <string>{108,137}</string>
            </dict>
            <key>lv2_boss_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,0},{102,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,128}}</string>
                <key>sourceSize</key>
                <string>{102,128}</string>
            </dict>
            <key>lv2_boss_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{94,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,122}}</string>
                <key>sourceSize</key>
                <string>{94,122}</string>
            </dict>
            <key>lv2_boss_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,0},{94,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,122}}</string>
                <key>sourceSize</key>
                <string>{94,122}</string>
            </dict>
            <key>lv2_boss_attack_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,0},{93,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,122}}</string>
                <key>sourceSize</key>
                <string>{93,122}</string>
            </dict>
            <key>lv2_boss_bot_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,254},{102,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,135}}</string>
                <key>sourceSize</key>
                <string>{102,135}</string>
            </dict>
            <key>lv2_boss_bot_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,396},{99,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,138}}</string>
                <key>sourceSize</key>
                <string>{99,138}</string>
            </dict>
            <key>lv2_boss_bot_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,523},{98,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,141}}</string>
                <key>sourceSize</key>
                <string>{98,141}</string>
            </dict>
            <key>lv2_boss_bot_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,389},{99,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,138}}</string>
                <key>sourceSize</key>
                <string>{99,138}</string>
            </dict>
            <key>lv2_boss_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,122},{76,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,130}}</string>
                <key>sourceSize</key>
                <string>{76,130}</string>
            </dict>
            <key>lv2_boss_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,128},{75,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,133}}</string>
                <key>sourceSize</key>
                <string>{75,133}</string>
            </dict>
            <key>lv2_boss_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,261},{76,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,136}}</string>
                <key>sourceSize</key>
                <string>{76,136}</string>
            </dict>
            <key>lv2_boss_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,128},{75,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,133}}</string>
                <key>sourceSize</key>
                <string>{75,133}</string>
            </dict>
            <key>lv2_boss_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,122},{76,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,130}}</string>
                <key>sourceSize</key>
                <string>{76,130}</string>
            </dict>
            <key>lv2_boss_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,252},{75,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,134}}</string>
                <key>sourceSize</key>
                <string>{75,134}</string>
            </dict>
            <key>lv2_boss_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,261},{75,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,137}}</string>
                <key>sourceSize</key>
                <string>{75,137}</string>
            </dict>
            <key>lv2_boss_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{75,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,134}}</string>
                <key>sourceSize</key>
                <string>{75,134}</string>
            </dict>
            <key>lv2_boss_top_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,128},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,133}</string>
            </dict>
            <key>lv2_boss_top_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,398},{88,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,138}}</string>
                <key>sourceSize</key>
                <string>{88,138}</string>
            </dict>
            <key>lv2_boss_top_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,527},{90,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,141}}</string>
                <key>sourceSize</key>
                <string>{90,141}</string>
            </dict>
            <key>lv2_boss_top_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,397},{88,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,138}}</string>
                <key>sourceSize</key>
                <string>{88,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lv2_boss.png</string>
            <key>size</key>
            <string>{510,668}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d959e2ed622d0a585f299a6b5473d610$</string>
            <key>textureFileName</key>
            <string>lv2_boss.png</string>
        </dict>
    </dict>
</plist>
