<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lv3_boss_attack_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,268},{112,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,140}}</string>
                <key>sourceSize</key>
                <string>{112,140}</string>
            </dict>
            <key>lv3_boss_attack_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,267},{114,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,139}}</string>
                <key>sourceSize</key>
                <string>{114,139}</string>
            </dict>
            <key>lv3_boss_attack_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,0},{113,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,135}}</string>
                <key>sourceSize</key>
                <string>{113,135}</string>
            </dict>
            <key>lv3_boss_attack_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{114,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,128}}</string>
                <key>sourceSize</key>
                <string>{114,128}</string>
            </dict>
            <key>lv3_boss_attack_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,0},{113,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,129}}</string>
                <key>sourceSize</key>
                <string>{113,129}</string>
            </dict>
            <key>lv3_boss_attack_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{114,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,128}}</string>
                <key>sourceSize</key>
                <string>{114,128}</string>
            </dict>
            <key>lv3_boss_attack_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,0},{114,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,129}}</string>
                <key>sourceSize</key>
                <string>{114,129}</string>
            </dict>
            <key>lv3_boss_attack_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,0},{113,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,129}}</string>
                <key>sourceSize</key>
                <string>{113,129}</string>
            </dict>
            <key>lv3_boss_bot_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,269},{113,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,140}}</string>
                <key>sourceSize</key>
                <string>{113,140}</string>
            </dict>
            <key>lv3_boss_bot_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,546},{113,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,151}}</string>
                <key>sourceSize</key>
                <string>{113,151}</string>
            </dict>
            <key>lv3_boss_bot_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,0},{114,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,130}}</string>
                <key>sourceSize</key>
                <string>{114,130}</string>
            </dict>
            <key>lv3_boss_bot_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,128},{113,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,136}}</string>
                <key>sourceSize</key>
                <string>{113,136}</string>
            </dict>
            <key>lv3_boss_bot_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,414},{113,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,149}}</string>
                <key>sourceSize</key>
                <string>{113,149}</string>
            </dict>
            <key>lv3_boss_bot_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,543},{113,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,151}}</string>
                <key>sourceSize</key>
                <string>{113,151}</string>
            </dict>
            <key>lv3_boss_bot_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,547},{114,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,151}}</string>
                <key>sourceSize</key>
                <string>{114,151}</string>
            </dict>
            <key>lv3_boss_bot_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,542},{112,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,151}}</string>
                <key>sourceSize</key>
                <string>{112,151}</string>
            </dict>
            <key>lv3_boss_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,129},{112,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,139}}</string>
                <key>sourceSize</key>
                <string>{112,139}</string>
            </dict>
            <key>lv3_boss_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,267},{113,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,139}}</string>
                <key>sourceSize</key>
                <string>{113,139}</string>
            </dict>
            <key>lv3_boss_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,129},{114,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,138}}</string>
                <key>sourceSize</key>
                <string>{114,138}</string>
            </dict>
            <key>lv3_boss_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,267},{113,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,139}}</string>
                <key>sourceSize</key>
                <string>{113,139}</string>
            </dict>
            <key>lv3_boss_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,264},{113,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,139}}</string>
                <key>sourceSize</key>
                <string>{113,139}</string>
            </dict>
            <key>lv3_boss_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,406},{113,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,140}}</string>
                <key>sourceSize</key>
                <string>{113,140}</string>
            </dict>
            <key>lv3_boss_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,406},{114,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,141}}</string>
                <key>sourceSize</key>
                <string>{114,141}</string>
            </dict>
            <key>lv3_boss_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,274},{114,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,140}}</string>
                <key>sourceSize</key>
                <string>{114,140}</string>
            </dict>
            <key>lv3_boss_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,263},{113,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,139}}</string>
                <key>sourceSize</key>
                <string>{113,139}</string>
            </dict>
            <key>lv3_boss_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,402},{113,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,140}}</string>
                <key>sourceSize</key>
                <string>{113,140}</string>
            </dict>
            <key>lv3_boss_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,129},{113,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,138}}</string>
                <key>sourceSize</key>
                <string>{113,138}</string>
            </dict>
            <key>lv3_boss_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,274},{113,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,140}}</string>
                <key>sourceSize</key>
                <string>{113,140}</string>
            </dict>
            <key>lv3_boss_right_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,135},{113,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,139}}</string>
                <key>sourceSize</key>
                <string>{113,139}</string>
            </dict>
            <key>lv3_boss_right_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,129},{113,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,138}}</string>
                <key>sourceSize</key>
                <string>{113,138}</string>
            </dict>
            <key>lv3_boss_right_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,408},{115,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,141}}</string>
                <key>sourceSize</key>
                <string>{115,141}</string>
            </dict>
            <key>lv3_boss_right_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,403},{112,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,140}}</string>
                <key>sourceSize</key>
                <string>{112,140}</string>
            </dict>
            <key>lv3_boss_top_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,135},{113,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,139}}</string>
                <key>sourceSize</key>
                <string>{113,139}</string>
            </dict>
            <key>lv3_boss_top_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{113,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,135}}</string>
                <key>sourceSize</key>
                <string>{113,135}</string>
            </dict>
            <key>lv3_boss_top_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,0},{113,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,129}}</string>
                <key>sourceSize</key>
                <string>{113,129}</string>
            </dict>
            <key>lv3_boss_top_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,0},{113,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,135}}</string>
                <key>sourceSize</key>
                <string>{113,135}</string>
            </dict>
            <key>lv3_boss_top_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,130},{113,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,139}}</string>
                <key>sourceSize</key>
                <string>{113,139}</string>
            </dict>
            <key>lv3_boss_top_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,414},{113,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,145}}</string>
                <key>sourceSize</key>
                <string>{113,145}</string>
            </dict>
            <key>lv3_boss_top_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,414},{113,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,148}}</string>
                <key>sourceSize</key>
                <string>{113,148}</string>
            </dict>
            <key>lv3_boss_top_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,409},{113,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,144}}</string>
                <key>sourceSize</key>
                <string>{113,144}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lv3_boss.png</string>
            <key>size</key>
            <string>{1021,698}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:304c225c24379a2f3a099de544a196d6$</string>
            <key>textureFileName</key>
            <string>lv3_boss.png</string>
        </dict>
    </dict>
</plist>
