<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lv3_boss_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,206},{113,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,140}}</string>
                <key>sourceSize</key>
                <string>{113,140}</string>
            </dict>
            <key>lv3_boss_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,308},{113,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,123}}</string>
                <key>sourceSize</key>
                <string>{113,123}</string>
            </dict>
            <key>lv3_boss_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{115,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,103}}</string>
                <key>sourceSize</key>
                <string>{115,103}</string>
            </dict>
            <key>lv3_boss_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,346},{113,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,99}}</string>
                <key>sourceSize</key>
                <string>{113,99}</string>
            </dict>
            <key>lv3_boss_dead_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,103},{115,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,102}}</string>
                <key>sourceSize</key>
                <string>{115,102}</string>
            </dict>
            <key>lv3_boss_dead_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,0},{115,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,103}}</string>
                <key>sourceSize</key>
                <string>{115,103}</string>
            </dict>
            <key>lv3_boss_dead_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,205},{114,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,103}}</string>
                <key>sourceSize</key>
                <string>{114,103}</string>
            </dict>
            <key>lv3_boss_dead_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,103},{114,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,103}}</string>
                <key>sourceSize</key>
                <string>{114,103}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lv3_boss_dead.png</string>
            <key>size</key>
            <string>{230,445}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d52357e66b79be87d94efe6ec4d0d094$</string>
            <key>textureFileName</key>
            <string>lv3_boss_dead.png</string>
        </dict>
    </dict>
</plist>
