<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fenshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,169},{86,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,28}}</string>
                <key>sourceSize</key>
                <string>{86,28}</string>
            </dict>
            <key>jianglijingbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,142},{116,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,27}}</string>
                <key>sourceSize</key>
                <string>{116,27}</string>
            </dict>
            <key>over_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,71},{123,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,71}}</string>
                <key>sourceSize</key>
                <string>{123,71}</string>
            </dict>
            <key>over_jixu.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,0},{123,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,71}}</string>
                <key>sourceSize</key>
                <string>{123,71}</string>
            </dict>
            <key>over_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{372,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,319}}</string>
                <key>sourceSize</key>
                <string>{372,319}</string>
            </dict>
            <key>zongjinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,197},{76,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,28}}</string>
                <key>sourceSize</key>
                <string>{76,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>over.png</string>
            <key>size</key>
            <string>{495,319}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64b2c7423b3a522890267de6f801db10$</string>
            <key>textureFileName</key>
            <string>over.png</string>
        </dict>
    </dict>
</plist>
