<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qe_bot_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,0},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qe_bot_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,238},{57,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,80}}</string>
                <key>sourceSize</key>
                <string>{57,80}</string>
            </dict>
            <key>qe_bot_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,158},{59,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,80}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>qe_bot_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,237},{57,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,80}}</string>
                <key>sourceSize</key>
                <string>{57,80}</string>
            </dict>
            <key>qe_bot_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,0},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qe_bot_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,79},{59,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,80}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>qe_bot_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,238},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>qe_bot_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,238},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>qe_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,158},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>qe_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,0},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qe_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,0},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>qe_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,79},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qe_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,238},{59,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,80}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>qe_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,158},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>qe_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,159},{61,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,80}}</string>
                <key>sourceSize</key>
                <string>{61,80}</string>
            </dict>
            <key>qe_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,158},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>qe_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,239},{58,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,80}}</string>
                <key>sourceSize</key>
                <string>{58,80}</string>
            </dict>
            <key>qe_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,79},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qe_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,0},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>qe_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,79},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qe_right_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,237},{59,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,80}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>qe_right_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,157},{60,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,80}}</string>
                <key>sourceSize</key>
                <string>{60,80}</string>
            </dict>
            <key>qe_right_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,157},{61,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,80}}</string>
                <key>sourceSize</key>
                <string>{61,80}</string>
            </dict>
            <key>qe_top_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{57,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,78}}</string>
                <key>sourceSize</key>
                <string>{57,78}</string>
            </dict>
            <key>qe_top_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,0},{57,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,79}}</string>
                <key>sourceSize</key>
                <string>{57,79}</string>
            </dict>
            <key>qe_top_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,78},{59,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,79}}</string>
                <key>sourceSize</key>
                <string>{59,79}</string>
            </dict>
            <key>qe_top_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,79},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qe_top_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,78}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>qe_top_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,78},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
            <key>qe_top_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,159},{59,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,80}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>qe_top_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,78},{58,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,79}}</string>
                <key>sourceSize</key>
                <string>{58,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qe.png</string>
            <key>size</key>
            <string>{478,319}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb0b74fd5232d4da6d73803a9a69d80e$</string>
            <key>textureFileName</key>
            <string>qe.png</string>
        </dict>
    </dict>
</plist>
