<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qe_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{59,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,80}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>qe_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,240},{59,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,80}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>qe_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,160},{59,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,80}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>qe_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{59,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,80}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qe_dead.png</string>
            <key>size</key>
            <string>{59,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bd64acc8f66b24aafb7d0e9f361b766$</string>
            <key>textureFileName</key>
            <string>qe_dead.png</string>
        </dict>
    </dict>
</plist>
