<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bc_bt.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1348},{137,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{137,56}}</string>
                <key>sourceSize</key>
                <string>{139,62}</string>
            </dict>
            <key>biglevel_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,1397},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>hard_locked.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1560},{96,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,59}}</string>
                <key>sourceSize</key>
                <string>{96,59}</string>
            </dict>
            <key>hard_pass.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1455},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>hard_unpass.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1404},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>jihanbingyuan_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,454},{717,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,298}}</string>
                <key>sourceSize</key>
                <string>{717,298}</string>
            </dict>
            <key>level_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1397},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{40,41}</string>
            </dict>
            <key>level_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1455},{96,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,59}}</string>
                <key>sourceSize</key>
                <string>{96,59}</string>
            </dict>
            <key>level_fuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1348},{67,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,84}}</string>
                <key>sourceSize</key>
                <string>{67,84}</string>
            </dict>
            <key>level_hard.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1539},{96,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,59}}</string>
                <key>sourceSize</key>
                <string>{96,59}</string>
            </dict>
            <key>level_jihanbingyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1348},{114,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{114,49}}</string>
                <key>sourceSize</key>
                <string>{114,61}</string>
            </dict>
            <key>level_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{764,454}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{764,454}}</string>
                <key>sourceSize</key>
                <string>{772,466}</string>
            </dict>
            <key>level_min.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1432},{96,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,59}}</string>
                <key>sourceSize</key>
                <string>{96,59}</string>
            </dict>
            <key>level_mizhisenlin.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1491},{114,55}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,55}}</string>
                <key>sourceSize</key>
                <string>{114,61}</string>
            </dict>
            <key>level_youandilao.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1404},{114,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{114,51}}</string>
                <key>sourceSize</key>
                <string>{114,61}</string>
            </dict>
            <key>levelhard_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1348},{385,212}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{385,212}}</string>
                <key>sourceSize</key>
                <string>{393,220}</string>
            </dict>
            <key>levelnum_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1455},{67,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,84}}</string>
                <key>sourceSize</key>
                <string>{67,84}</string>
            </dict>
            <key>mizhisenlin_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1050},{717,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,298}}</string>
                <key>sourceSize</key>
                <string>{717,298}</string>
            </dict>
            <key>youandilao_map.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,752},{717,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,298}}</string>
                <key>sourceSize</key>
                <string>{717,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>select_level_tex.png</string>
            <key>size</key>
            <string>{764,1619}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1f181e8cf45c2413817896042580c3c$</string>
            <key>textureFileName</key>
            <string>select_level_tex.png</string>
        </dict>
    </dict>
</plist>
