<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shiguai_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,414},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,345},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,276},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,207},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,138},{56,69}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,755},{56,67}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{56,67}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,69},{56,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{56,69}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_left_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,483},{56,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>shiguai_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,687},{56,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>shiguai_left_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,619},{56,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>shiguai_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,551},{56,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,74}</string>
            </dict>
            <key>shiguai_left_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,822},{56,67}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,67}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shiguai_left.png</string>
            <key>size</key>
            <string>{56,889}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff2913b10b72bad6f4b2cdb1c7c3a885$</string>
            <key>textureFileName</key>
            <string>shiguai_left.png</string>
        </dict>
    </dict>
</plist>
