<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shiguai_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,556},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,487},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,418},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,349},{56,69}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_right_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,280},{56,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_right_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,211},{56,69}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_right_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,71},{56,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_right_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{56,71}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,71}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_right_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,142},{56,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_right_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,763},{56,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_right_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,694},{56,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_right_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,625},{56,69}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{56,69}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
            <key>shiguai_right_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,832},{56,67}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,67}}</string>
                <key>sourceSize</key>
                <string>{56,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shiguai_right.png</string>
            <key>size</key>
            <string>{56,899}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2c8b0e9362935cc02a7ffc0a3c7ca94$</string>
            <key>textureFileName</key>
            <string>shiguai_right.png</string>
        </dict>
    </dict>
</plist>
