<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bag_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,445},{316,379}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,379}}</string>
                <key>sourceSize</key>
                <string>{316,379}</string>
            </dict>
            <key>buy_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,554},{163,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,49}}</string>
                <key>sourceSize</key>
                <string>{163,49}</string>
            </dict>
            <key>buy_unsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,505},{163,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{163,49}}</string>
                <key>sourceSize</key>
                <string>{163,49}</string>
            </dict>
            <key>equip_daoju.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,374},{43,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,95}}</string>
                <key>sourceSize</key>
                <string>{43,95}</string>
            </dict>
            <key>equip_down_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,411},{99,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,43}}</string>
                <key>sourceSize</key>
                <string>{99,43}</string>
            </dict>
            <key>equip_jineng.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,279},{43,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,95}}</string>
                <key>sourceSize</key>
                <string>{43,95}</string>
            </dict>
            <key>equip_kuang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,439},{426,438}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,438}}</string>
                <key>sourceSize</key>
                <string>{426,438}</string>
            </dict>
            <key>equip_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,791},{124,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,48}}</string>
                <key>sourceSize</key>
                <string>{124,48}</string>
            </dict>
            <key>equip_tiao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,0},{101,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,368}}</string>
                <key>sourceSize</key>
                <string>{101,368}</string>
            </dict>
            <key>equip_up_jt.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,368},{99,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,43}}</string>
                <key>sourceSize</key>
                <string>{99,43}</string>
            </dict>
            <key>home1.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,649},{145,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{145,46}}</string>
                <key>sourceSize</key>
                <string>{147,56}</string>
            </dict>
            <key>home2.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,603},{145,46}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{145,46}}</string>
                <key>sourceSize</key>
                <string>{147,56}</string>
            </dict>
            <key>jinbishop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1103},{238,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,63}}</string>
                <key>sourceSize</key>
                <string>{238,63}</string>
            </dict>
            <key>jinbishop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1166},{240,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,62}}</string>
                <key>sourceSize</key>
                <string>{240,62}</string>
            </dict>
            <key>jn_dian_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,0},{14,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,36}}</string>
                <key>sourceSize</key>
                <string>{14,36}</string>
            </dict>
            <key>jn_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,106},{44,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,106}}</string>
                <key>sourceSize</key>
                <string>{44,106}</string>
            </dict>
            <key>jn_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,0},{44,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,106}}</string>
                <key>sourceSize</key>
                <string>{44,106}</string>
            </dict>
            <key>left_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,454},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>left_unsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,454},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>next_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1228},{191,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{191,57}}</string>
                <key>sourceSize</key>
                <string>{199,87}</string>
            </dict>
            <key>next_unsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1252},{177,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{177,55}}</string>
                <key>sourceSize</key>
                <string>{199,87}</string>
            </dict>
            <key>qianghua_center_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,877},{297,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{297,226}}</string>
                <key>sourceSize</key>
                <string>{297,226}</string>
            </dict>
            <key>qianghua_jnbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1250},{402,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,173}}</string>
                <key>sourceSize</key>
                <string>{402,173}</string>
            </dict>
            <key>qianghua_kuang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,824},{316,369}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,369}}</string>
                <key>sourceSize</key>
                <string>{316,369}</string>
            </dict>
            <key>qianghua_level_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1307},{171,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,43}}</string>
                <key>sourceSize</key>
                <string>{171,43}</string>
            </dict>
            <key>qianghua_shuoming_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1193},{280,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,59}}</string>
                <key>sourceSize</key>
                <string>{280,59}</string>
            </dict>
            <key>qianghua_skill_kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,212},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>qianghua_zbbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1073},{402,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,177}}</string>
                <key>sourceSize</key>
                <string>{402,177}</string>
            </dict>
            <key>right_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,454},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>right_unsel.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,454},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>shop_kuang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,0},{426,439}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,439}}</string>
                <key>sourceSize</key>
                <string>{426,439}</string>
            </dict>
            <key>shop_kuang_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1423},{403,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,40}}</string>
                <key>sourceSize</key>
                <string>{403,40}</string>
            </dict>
            <key>shop_kuang_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,877},{407,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{407,196}}</string>
                <key>sourceSize</key>
                <string>{407,196}</string>
            </dict>
            <key>shop_kuang_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,1423},{403,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{403,27}}</string>
                <key>sourceSize</key>
                <string>{403,27}</string>
            </dict>
            <key>shop_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,743},{124,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,48}}</string>
                <key>sourceSize</key>
                <string>{124,48}</string>
            </dict>
            <key>skill_kuang_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{430,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,445}}</string>
                <key>sourceSize</key>
                <string>{430,445}</string>
            </dict>
            <key>skill_tab.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,695},{124,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,48}}</string>
                <key>sourceSize</key>
                <string>{124,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shoplayer_tex.png</string>
            <key>size</key>
            <string>{1024,1463}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52f816cfd84d9ddca9e33583552cfecd$</string>
            <key>textureFileName</key>
            <string>shoplayer_tex.png</string>
        </dict>
    </dict>
</plist>
