<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shujing_bot_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,408},{52,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,79}}</string>
                <key>sourceSize</key>
                <string>{52,79}</string>
            </dict>
            <key>shujing_bot_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,84},{55,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,82}}</string>
                <key>sourceSize</key>
                <string>{55,82}</string>
            </dict>
            <key>shujing_bot_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,84},{56,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,84}}</string>
                <key>sourceSize</key>
                <string>{56,84}</string>
            </dict>
            <key>shujing_bot_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,0},{54,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,82}}</string>
                <key>sourceSize</key>
                <string>{54,82}</string>
            </dict>
            <key>shujing_bot_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,162},{53,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,79}}</string>
                <key>sourceSize</key>
                <string>{53,79}</string>
            </dict>
            <key>shujing_bot_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,336},{53,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,82}}</string>
                <key>sourceSize</key>
                <string>{53,82}</string>
            </dict>
            <key>shujing_bot_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,252},{52,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,84}}</string>
                <key>sourceSize</key>
                <string>{52,84}</string>
            </dict>
            <key>shujing_bot_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,166},{52,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,82}}</string>
                <key>sourceSize</key>
                <string>{52,82}</string>
            </dict>
            <key>shujing_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,244},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>shujing_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,246},{49,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,82}}</string>
                <key>sourceSize</key>
                <string>{49,82}</string>
            </dict>
            <key>shujing_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,168},{50,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,84}}</string>
                <key>sourceSize</key>
                <string>{50,84}</string>
            </dict>
            <key>shujing_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,328},{49,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,82}}</string>
                <key>sourceSize</key>
                <string>{49,82}</string>
            </dict>
            <key>shujing_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,328},{49,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,80}}</string>
                <key>sourceSize</key>
                <string>{49,80}</string>
            </dict>
            <key>shujing_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,246},{49,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,82}}</string>
                <key>sourceSize</key>
                <string>{49,82}</string>
            </dict>
            <key>shujing_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,252},{50,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,84}}</string>
                <key>sourceSize</key>
                <string>{50,84}</string>
            </dict>
            <key>shujing_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{49,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,82}}</string>
                <key>sourceSize</key>
                <string>{49,82}</string>
            </dict>
            <key>shujing_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,82},{51,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,80}}</string>
                <key>sourceSize</key>
                <string>{51,80}</string>
            </dict>
            <key>shujing_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,418},{52,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,82}}</string>
                <key>sourceSize</key>
                <string>{52,82}</string>
            </dict>
            <key>shujing_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,420},{52,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,84}}</string>
                <key>sourceSize</key>
                <string>{52,84}</string>
            </dict>
            <key>shujing_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,418},{52,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,82}}</string>
                <key>sourceSize</key>
                <string>{52,82}</string>
            </dict>
            <key>shujing_right_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,164},{51,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,80}}</string>
                <key>sourceSize</key>
                <string>{51,80}</string>
            </dict>
            <key>shujing_right_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{52,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,82}}</string>
                <key>sourceSize</key>
                <string>{52,82}</string>
            </dict>
            <key>shujing_right_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,336},{52,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,84}}</string>
                <key>sourceSize</key>
                <string>{52,84}</string>
            </dict>
            <key>shujing_right_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,82},{51,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,82}}</string>
                <key>sourceSize</key>
                <string>{51,82}</string>
            </dict>
            <key>shujing_top_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,410},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>shujing_top_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,164},{51,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,82}}</string>
                <key>sourceSize</key>
                <string>{51,82}</string>
            </dict>
            <key>shujing_top_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{53,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,84}}</string>
                <key>sourceSize</key>
                <string>{53,84}</string>
            </dict>
            <key>shujing_top_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,334},{51,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,82}}</string>
                <key>sourceSize</key>
                <string>{51,82}</string>
            </dict>
            <key>shujing_top_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,0},{50,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,80}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
            <key>shujing_top_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,252},{53,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,82}}</string>
                <key>sourceSize</key>
                <string>{53,82}</string>
            </dict>
            <key>shujing_top_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{60,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,84}}</string>
                <key>sourceSize</key>
                <string>{60,84}</string>
            </dict>
            <key>shujing_top_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,82},{52,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,82}}</string>
                <key>sourceSize</key>
                <string>{52,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shujing.png</string>
            <key>size</key>
            <string>{310,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea0d99b92395dea15752595a56dad46c$</string>
            <key>textureFileName</key>
            <string>shujing.png</string>
        </dict>
    </dict>
</plist>
