<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sk_fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,375},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>sk_fire2.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,673},{148,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,171}}</string>
                <key>sourceSize</key>
                <string>{148,171}</string>
            </dict>
            <key>sk_fire3.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{210,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,234}}</string>
                <key>sourceSize</key>
                <string>{210,234}</string>
            </dict>
            <key>sk_fire4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{229,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,232}}</string>
                <key>sourceSize</key>
                <string>{229,232}</string>
            </dict>
            <key>sk_fire5.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,690},{199,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,155}}</string>
                <key>sourceSize</key>
                <string>{199,155}</string>
            </dict>
            <key>sk_fire6.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,466},{198,207}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,207}}</string>
                <key>sourceSize</key>
                <string>{198,207}</string>
            </dict>
            <key>sk_fire7.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,466},{194,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,224}}</string>
                <key>sourceSize</key>
                <string>{194,224}</string>
            </dict>
            <key>sk_fire8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,0},{202,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,195}}</string>
                <key>sourceSize</key>
                <string>{202,195}</string>
            </dict>
            <key>sk_fire9.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,195},{165,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,180}}</string>
                <key>sourceSize</key>
                <string>{165,180}</string>
            </dict>
            <key>sk_fire_buf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,375},{64,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,69}}</string>
                <key>sourceSize</key>
                <string>{64,69}</string>
            </dict>
            <key>sk_fire_buf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,375},{58,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>sk_fire_buf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,195},{51,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,70}}</string>
                <key>sourceSize</key>
                <string>{51,70}</string>
            </dict>
            <key>sk_fire_buf4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,0},{51,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,65}}</string>
                <key>sourceSize</key>
                <string>{51,65}</string>
            </dict>
            <key>sk_fire_buf5.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,265},{53,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,59}}</string>
                <key>sourceSize</key>
                <string>{53,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sk_fire.png</string>
            <key>size</key>
            <string>{463,845}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:108ac8f437d115bb9ba48b0a57976c21$</string>
            <key>textureFileName</key>
            <string>sk_fire.png</string>
        </dict>
    </dict>
</plist>
