<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>soldier_bot_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{50,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,75}}</string>
                <key>sourceSize</key>
                <string>{50,75}</string>
            </dict>
            <key>soldier_bot_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,231},{51,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,75}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>soldier_bot_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,230},{51,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,75}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>soldier_bot_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,231},{51,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,75}}</string>
                <key>sourceSize</key>
                <string>{51,75}</string>
            </dict>
            <key>soldier_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,154},{53,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,77}}</string>
                <key>sourceSize</key>
                <string>{53,77}</string>
            </dict>
            <key>soldier_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,77},{53,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,77}}</string>
                <key>sourceSize</key>
                <string>{53,77}</string>
            </dict>
            <key>soldier_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,77},{53,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,77}}</string>
                <key>sourceSize</key>
                <string>{53,77}</string>
            </dict>
            <key>soldier_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,77},{53,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,77}}</string>
                <key>sourceSize</key>
                <string>{53,77}</string>
            </dict>
            <key>soldier_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,154},{53,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,76}}</string>
                <key>sourceSize</key>
                <string>{53,76}</string>
            </dict>
            <key>soldier_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,0},{53,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,77}}</string>
                <key>sourceSize</key>
                <string>{53,77}</string>
            </dict>
            <key>soldier_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{53,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,77}}</string>
                <key>sourceSize</key>
                <string>{53,77}</string>
            </dict>
            <key>soldier_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,0},{53,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,77}}</string>
                <key>sourceSize</key>
                <string>{53,77}</string>
            </dict>
            <key>soldier_top_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,379},{51,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,74}}</string>
                <key>sourceSize</key>
                <string>{51,74}</string>
            </dict>
            <key>soldier_top_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{51,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,74}}</string>
                <key>sourceSize</key>
                <string>{51,74}</string>
            </dict>
            <key>soldier_top_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,305},{51,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,74}}</string>
                <key>sourceSize</key>
                <string>{51,74}</string>
            </dict>
            <key>soldier_top_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,306},{51,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,74}}</string>
                <key>sourceSize</key>
                <string>{51,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>solder.png</string>
            <key>size</key>
            <string>{106,455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8c0ca7064e3c6ec73bdf125d1abdbb6$</string>
            <key>textureFileName</key>
            <string>solder.png</string>
        </dict>
    </dict>
</plist>
