<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exit_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,124},{186,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,62}}</string>
                <key>sourceSize</key>
                <string>{186,62}</string>
            </dict>
            <key>exit_unpress.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{186,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,62}}</string>
                <key>sourceSize</key>
                <string>{186,62}</string>
            </dict>
            <key>help_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,62},{186,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,62}}</string>
                <key>sourceSize</key>
                <string>{186,62}</string>
            </dict>
            <key>help_unpress.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{186,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,62}}</string>
                <key>sourceSize</key>
                <string>{186,62}</string>
            </dict>
            <key>more_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,0},{186,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,62}}</string>
                <key>sourceSize</key>
                <string>{186,62}</string>
            </dict>
            <key>more_unpress.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{186,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,62}}</string>
                <key>sourceSize</key>
                <string>{186,62}</string>
            </dict>
            <key>rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,0},{70,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,86}}</string>
                <key>sourceSize</key>
                <string>{70,86}</string>
            </dict>
            <key>setting_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,248},{164,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,62}}</string>
                <key>sourceSize</key>
                <string>{164,62}</string>
            </dict>
            <key>setting_unpress.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,248},{164,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,62}}</string>
                <key>sourceSize</key>
                <string>{164,62}</string>
            </dict>
            <key>share_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,148},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>share_unpress.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,86},{86,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,62}}</string>
                <key>sourceSize</key>
                <string>{86,62}</string>
            </dict>
            <key>start_click.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,248},{172,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{172,40}}</string>
                <key>sourceSize</key>
                <string>{174,42}</string>
            </dict>
            <key>start_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,186},{186,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,62}}</string>
                <key>sourceSize</key>
                <string>{186,62}</string>
            </dict>
            <key>start_unpress.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{186,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,62}}</string>
                <key>sourceSize</key>
                <string>{186,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>startlayer_tex.png</string>
            <key>size</key>
            <string>{500,310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01ac4d7aa007c7f9808b2f9adb4a4527$</string>
            <key>textureFileName</key>
            <string>startlayer_tex.png</string>
        </dict>
    </dict>
</plist>
