<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xiong_bot_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,0},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>xiong_bot_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,0},{53,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,74}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>xiong_bot_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,0},{54,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,74}}</string>
                <key>sourceSize</key>
                <string>{54,74}</string>
            </dict>
            <key>xiong_bot_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,0},{53,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,74}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>xiong_bot_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,0},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>xiong_bot_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{53,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,74}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>xiong_bot_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,224},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>xiong_bot_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,0},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>xiong_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,224},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>xiong_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,74},{53,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,75}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>xiong_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,223},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>xiong_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,74},{53,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,75}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>xiong_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,149},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>xiong_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,149},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>xiong_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,74},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>xiong_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,224},{54,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,75}}</string>
                <key>sourceSize</key>
                <string>{54,75}</string>
            </dict>
            <key>xiong_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,222},{53,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,75}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>xiong_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,149},{53,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,75}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>xiong_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,148},{53,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,75}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>xiong_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,149},{52,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,75}}</string>
                <key>sourceSize</key>
                <string>{52,75}</string>
            </dict>
            <key>xiong_right_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,148},{53,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,75}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>xiong_right_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,147},{53,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,75}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>xiong_right_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,74},{53,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,75}}</string>
                <key>sourceSize</key>
                <string>{53,75}</string>
            </dict>
            <key>xiong_right_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,149},{52,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,75}}</string>
                <key>sourceSize</key>
                <string>{52,75}</string>
            </dict>
            <key>xiong_top_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,0},{52,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,73}}</string>
                <key>sourceSize</key>
                <string>{52,73}</string>
            </dict>
            <key>xiong_top_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,74},{53,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,74}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>xiong_top_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,149},{52,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,75}}</string>
                <key>sourceSize</key>
                <string>{52,75}</string>
            </dict>
            <key>xiong_top_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,74},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
            <key>xiong_top_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{52,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,73}}</string>
                <key>sourceSize</key>
                <string>{52,73}</string>
            </dict>
            <key>xiong_top_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,73},{53,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,74}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>xiong_top_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,74},{52,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,75}}</string>
                <key>sourceSize</key>
                <string>{52,75}</string>
            </dict>
            <key>xiong_top_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,74},{52,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,74}}</string>
                <key>sourceSize</key>
                <string>{52,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xiong.png</string>
            <key>size</key>
            <string>{476,299}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0724989c1d913bc75c5f1b00cbb480b6$</string>
            <key>textureFileName</key>
            <string>xiong.png</string>
        </dict>
    </dict>
</plist>
