<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yezhu_bot_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,412},{51,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{51,62}</string>
            </dict>
            <key>yezhu_bot_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,352},{51,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{51,62}</string>
            </dict>
            <key>yezhu_bot_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>yezhu_bot_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,352},{51,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,62}}</string>
                <key>sourceSize</key>
                <string>{51,62}</string>
            </dict>
            <key>yezhu_bot_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,289},{51,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,61}}</string>
                <key>sourceSize</key>
                <string>{51,61}</string>
            </dict>
            <key>yezhu_bot_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,229},{52,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,60}}</string>
                <key>sourceSize</key>
                <string>{52,60}</string>
            </dict>
            <key>yezhu_bot_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,170},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>yezhu_bot_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,287},{51,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,61}}</string>
                <key>sourceSize</key>
                <string>{51,61}</string>
            </dict>
            <key>yezhu_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,231},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>yezhu_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,414},{65,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,64}}</string>
                <key>sourceSize</key>
                <string>{65,64}</string>
            </dict>
            <key>yezhu_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,291},{63,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,61}}</string>
                <key>sourceSize</key>
                <string>{63,61}</string>
            </dict>
            <key>yezhu_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,414},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>yezhu_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,291},{65,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,61}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
            <key>yezhu_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,113},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,59}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>yezhu_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,55},{63,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,58}}</string>
                <key>sourceSize</key>
                <string>{63,58}</string>
            </dict>
            <key>yezhu_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,111},{62,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,59}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
            <key>yezhu_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,0},{60,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,55}}</string>
                <key>sourceSize</key>
                <string>{60,55}</string>
            </dict>
            <key>yezhu_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,172},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>yezhu_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,54},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>yezhu_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,170},{60,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,59}}</string>
                <key>sourceSize</key>
                <string>{60,59}</string>
            </dict>
            <key>yezhu_right_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,54},{60,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,56}}</string>
                <key>sourceSize</key>
                <string>{60,56}</string>
            </dict>
            <key>yezhu_right_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,0},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>yezhu_right_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,0},{59,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,54}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
            <key>yezhu_right_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{57,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,54}}</string>
                <key>sourceSize</key>
                <string>{57,54}</string>
            </dict>
            <key>yezhu_top_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,227},{51,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,60}}</string>
                <key>sourceSize</key>
                <string>{51,60}</string>
            </dict>
            <key>yezhu_top_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,230},{52,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,61}}</string>
                <key>sourceSize</key>
                <string>{52,61}</string>
            </dict>
            <key>yezhu_top_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,352},{50,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,62}}</string>
                <key>sourceSize</key>
                <string>{50,62}</string>
            </dict>
            <key>yezhu_top_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,350},{52,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,62}}</string>
                <key>sourceSize</key>
                <string>{52,62}</string>
            </dict>
            <key>yezhu_top_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{51,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,59}}</string>
                <key>sourceSize</key>
                <string>{51,59}</string>
            </dict>
            <key>yezhu_top_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,110},{52,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,58}}</string>
                <key>sourceSize</key>
                <string>{52,58}</string>
            </dict>
            <key>yezhu_top_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,54},{51,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,57}}</string>
                <key>sourceSize</key>
                <string>{51,57}</string>
            </dict>
            <key>yezhu_top_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,111},{51,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,58}}</string>
                <key>sourceSize</key>
                <string>{51,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yezhu.png</string>
            <key>size</key>
            <string>{254,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fbe2a966b2e5410cea790f5825c2f5a$</string>
            <key>textureFileName</key>
            <string>yezhu.png</string>
        </dict>
    </dict>
</plist>
