<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yu_dead_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,186},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,62}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>yu_dead_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,124},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,62}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>yu_dead_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,62},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,62}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
            <key>yu_dead_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{57,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,62}}</string>
                <key>sourceSize</key>
                <string>{57,62}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yu_dead.png</string>
            <key>size</key>
            <string>{57,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffc761013483a1fb76b78c9f4aff7ac2$</string>
            <key>textureFileName</key>
            <string>yu_dead.png</string>
        </dict>
    </dict>
</plist>
