<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie_violet_bot_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,246},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{60,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_violet_bot_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,164},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{60,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_violet_bot_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,82},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{60,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_violet_bot_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{60,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_violet_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1186},{54,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_violet_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1108},{54,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_violet_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1030},{54,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_violet_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,952},{54,78}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_violet_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,874},{54,78}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_violet_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,796},{54,78}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_violet_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,718},{54,78}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_violet_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,640},{54,78}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_violet_top_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,328},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{58,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_violet_top_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,562},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{58,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_violet_top_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,484},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{58,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie_violet_top_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,406},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{58,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie_blue.png</string>
            <key>size</key>
            <string>{60,1264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50189559b7715f8f11415f925a8c2ff9$</string>
            <key>textureFileName</key>
            <string>zombie_blue.png</string>
        </dict>
    </dict>
</plist>
