<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie1_bot_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,0},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{60,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie1_bot_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,0},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{60,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie1_bot_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,0},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{60,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie1_bot_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,0},{60,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{60,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie1_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,0},{54,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie1_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{54,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie1_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,0},{54,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie1_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,0},{54,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie1_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,0},{54,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie1_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,0},{54,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie1_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,0},{54,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie1_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{54,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,3},{54,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie1_top_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,0},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{58,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie1_top_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,0},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{58,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie1_top_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,0},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{58,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>zombie1_top_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,0},{58,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{58,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombie1.png</string>
            <key>size</key>
            <string>{904,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23c3ec06dccc79002e64dfd8354e6fd6$</string>
            <key>textureFileName</key>
            <string>zombie1.png</string>
        </dict>
    </dict>
</plist>
