<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zs_bot_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,0},{61,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,76}}</string>
                <key>sourceSize</key>
                <string>{61,76}</string>
            </dict>
            <key>zs_bot_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,75},{61,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,77}}</string>
                <key>sourceSize</key>
                <string>{61,77}</string>
            </dict>
            <key>zs_bot_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,154},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>zs_bot_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,0},{61,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,77}}</string>
                <key>sourceSize</key>
                <string>{61,77}</string>
            </dict>
            <key>zs_bot_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,0},{61,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,76}}</string>
                <key>sourceSize</key>
                <string>{61,76}</string>
            </dict>
            <key>zs_bot_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,152},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>zs_bot_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,234},{59,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,80}}</string>
                <key>sourceSize</key>
                <string>{59,80}</string>
            </dict>
            <key>zs_bot_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,77},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>zs_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,0},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>zs_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,154},{66,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,79}}</string>
                <key>sourceSize</key>
                <string>{66,79}</string>
            </dict>
            <key>zs_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,233},{64,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,80}}</string>
                <key>sourceSize</key>
                <string>{64,80}</string>
            </dict>
            <key>zs_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,233},{66,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,79}}</string>
                <key>sourceSize</key>
                <string>{66,79}</string>
            </dict>
            <key>zs_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,0},{67,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,76}}</string>
                <key>sourceSize</key>
                <string>{67,76}</string>
            </dict>
            <key>zs_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,154},{66,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,79}}</string>
                <key>sourceSize</key>
                <string>{66,79}</string>
            </dict>
            <key>zs_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,234},{65,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,80}}</string>
                <key>sourceSize</key>
                <string>{65,80}</string>
            </dict>
            <key>zs_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,154},{65,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,79}}</string>
                <key>sourceSize</key>
                <string>{65,79}</string>
            </dict>
            <key>zs_right_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,0},{67,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,76}}</string>
                <key>sourceSize</key>
                <string>{67,76}</string>
            </dict>
            <key>zs_right_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,76},{64,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,78}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>zs_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,155},{63,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,79}}</string>
                <key>sourceSize</key>
                <string>{63,79}</string>
            </dict>
            <key>zs_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,76},{65,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,78}}</string>
                <key>sourceSize</key>
                <string>{65,78}</string>
            </dict>
            <key>zs_right_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{68,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,75}}</string>
                <key>sourceSize</key>
                <string>{68,75}</string>
            </dict>
            <key>zs_right_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,76},{64,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,78}}</string>
                <key>sourceSize</key>
                <string>{64,78}</string>
            </dict>
            <key>zs_right_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,155},{64,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,79}}</string>
                <key>sourceSize</key>
                <string>{64,79}</string>
            </dict>
            <key>zs_right_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,76},{65,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,78}}</string>
                <key>sourceSize</key>
                <string>{65,78}</string>
            </dict>
            <key>zs_top_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,0},{59,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,77}}</string>
                <key>sourceSize</key>
                <string>{59,77}</string>
            </dict>
            <key>zs_top_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,232},{59,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,79}}</string>
                <key>sourceSize</key>
                <string>{59,79}</string>
            </dict>
            <key>zs_top_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,232},{59,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,79}}</string>
                <key>sourceSize</key>
                <string>{59,79}</string>
            </dict>
            <key>zs_top_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,230},{59,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,79}}</string>
                <key>sourceSize</key>
                <string>{59,79}</string>
            </dict>
            <key>zs_top_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,77},{59,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,78}}</string>
                <key>sourceSize</key>
                <string>{59,78}</string>
            </dict>
            <key>zs_top_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,154},{60,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,78}}</string>
                <key>sourceSize</key>
                <string>{60,78}</string>
            </dict>
            <key>zs_top_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,233},{60,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,79}}</string>
                <key>sourceSize</key>
                <string>{60,79}</string>
            </dict>
            <key>zs_top_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,76},{59,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,78}}</string>
                <key>sourceSize</key>
                <string>{59,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zs.png</string>
            <key>size</key>
            <string>{512,314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60b2d7dea96085aa8e93e15be95be498$</string>
            <key>textureFileName</key>
            <string>zs.png</string>
        </dict>
    </dict>
</plist>
